/* HTML5 love*/
header,footer,section,article,aside,canvas{display:block;}
/*bsic html */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12pt;
	padding:1.5em;
}
h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:2.3em;
	margin-bottom:.1em;
}
h2{
	font-size:1.4em;
	margin-bottom:.4em;
}
h4{
	font-size:1.2em;
	padding:.3em 0 .6em;
}
h5,h6{
	border-left:solid .5em #CCC;
	color:#036;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.2em;
	font-style:italic;
	line-height:1;
	margin:.4em 0 1em;
	padding:.2em 0;
	text-indent:2.3em;
}
h6{
	font-size:.9em;
}
h5 + h6{
	margin-top:-1em;
}
pre{
	color:#333;
	font-family:inherit;
	padding-top:0.4em;
	white-space:pre;
}
pre + h6 {margin-top: 3.5em;}
.ie pre{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
/* HEADER
  ------------------------------ */
header hgroup aside{
	float:right;
	font-size:.8em;
	width:auto;
}
/* LAYOUT (2-COLUMNS)
  ------------------------------ */
aside{
	float:left;
	width:225px;
}
article{
	margin-left:250px;
}
/* CHORD CANVAS (BLOCKS)
  ------------------------------ */
aside canvas{
	float:left;
	margin-right:5px;
}
/* CHORUS BLOCK
  ------------------------------ */
.ugsChorus{
	border-left:solid 3px #ddd;
	margin:1em 0 2.3em;
}
.ugsChorus pre{
	margin-left:1em;
}
.ie .ugsChorus h6,
.ugsChorus > h6{
	font-size:1.2em;
	text-indent:.4em;
}
pre + .ugsChorus{margin-top:3.5em;}

/* TABS
  ------------------------------ */
.ugsTabs{
	margin:0;
	padding:0;
}
.ugsTabs + .ugsPlain{
	margin:0 0 1em;
	padding:0;
}
/* PLACE CHORDS ABOVE TEXT
  ------------------------------ */
.ugsChords{
	line-height:3;
}
.ugsChords code{
	color:#eaeaea;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.2em;
	font-weight:normal;
	position:relative;
}
.ugsChords code{
	display:inline-block; /* WebKit bug */
	height:1.2em; /* WebKit bug */
	vertical-align: middle;/* now fix the fix for Firefox */
}
.ugsInline .ugsChords code{
	display: inline;
	vertical-align: inherit;
}
.ugsChords code strong{
	left:-4px;
	position:absolute;
	top:-2em;
}
.ugsChords code em{
	color:#d20;
	margin:0 -3px;
}
.ie .ugsChords{
	line-height:2.6;
}
.ie code strong,
.ie code em{
	font-weight:normal;
	font-style:normal;
}
/* SHOW CHORD NAMES INLINE
  ------------------------------ */
.ugsInline,
.ugsInline pre{
	line-height:1.8;
}
.ugsInline code{
	padding-left:.1em;
}
.ugsInline code strong{
	position:relative;
	top:auto;
	left:auto;
}

/* PLAIN (lyrics only) Blocks
  ------------------------------ */
.ugsPlain + h6{
	margin-top:1.5em;
}

/* CHORD-ONLY (NO LYRICS) BLOCKS
  ------------------------------ */
.ugsNoLyrics{
	line-height:2;
	padding:0 0 1.2em;
}
.ugsNoLyrics + h6{ 
	margin-top:.5em;
}
.ugsNoLyrics code{
	height:auto;
	vertical-align: baseline;
}
.ugsNoLyrics code strong{
	position:relative;
	top:auto;
	left:auto;
}

/* CHORD-ONLY (NO LYRICS) BLOCKS
  ------------------------------ */
.ugsNoChords aside{
	display: none;
}
.ugsNoChords article{
	margin-left: 0;
}

/* SHOW CHORD DIAGRAMS INLINE
  ------------------------------ */
.ugsInlineDiagrams .ugsChords{
	line-height:95px;
}
.ugsInlineDiagrams .ugsNoLyrics code{
	vertical-align: text-top;
}
.ugsInlineDiagrams .ugsNoLyrics strong{
	position: absolute;
}
.ugsInlineDiagrams .ugsChords + .ugsPlain{
	padding-bottom: 40px;
}
.ugsInlineDiagrams h6 + .ugsChords{
	padding-top: 20px;
}
.ugsInlineDiagrams code{
	font-size:.8em;
	font-weight:normal;
}
.ugsInlineDiagrams .ugsChords code strong{
	left:0;
	line-height:1;
	text-align:center;
	top:-70px;
	width:30px;
}
.ugsChords code canvas{
	left:0;
	position:absolute;
	top:-54px;
}
/* TODO: problem with packing */
.ugsInlineSpacer{
	display:inline-block;
	line-height:1px;
	width:40px;
}


/* Multi-Column Layouts
  ------------------------------ */
.ugsWrap .ugsColumn{ float:left; }
.ugsColumnCount2 .ugsColumn{ width: 49.5%; }
.ugsColumnCount3 .ugsColumn{ width: 32.5%; }
.ugsColumnCount4 .ugsColumn{ width: 24.5%; }

/*
  ------------------------------ */
aside ul{
	list-style:none;
	margin:0;
	padding:0;
}
aside li{
	float:left;
	text-align:center;
	margin:0 10px 10px;
	padding:0;
}
aside li em{
	display:block;
	font-size:1.20em;
}
/*
  ------------------------------ */
.metaInfo{
	font-size:.9em;
	padding:.6em 0;
}
/*
  ------------------------------ */
footer{
	clear:both;
	color:#666666;
	font-size:0.82em;
	padding-top:1.6em;
}
footer small{
	border-left:solid 1px #b2b2b2;
	font-size:.9em;
	padding-left:1em;
}

