/*
 * Document   : ugsEditorPlus.themese.css
 * Author     : Buz
 * Description: Alternative color schemes.
 */

 /* __________ Reverse __________ */

 .theme-reversed {
 	background-color: #000;
 	color: #FFF;
 }
 .theme-reversed .scalablePrintArea{
 	background-color: transparent;
 }
 .theme-reversed pre {
 	color: #e9e9e9;
 }
 .theme-reversed .ugsChords code {
 	color: #333;
 }
 .theme-reversed .ugsChords code em {
 	color: #F42;
 }
 .theme-reversed .ugsChorus {
 	border-left-color: #333;
 }
 .theme-reversed .scalablePrintArea h5, .theme-reversed .scalablePrintArea h6 {
 	border-left-color: #444;
 	color: #69F;
 }
 /* unique to the reversed theme we need to harden editor's UI */
 .theme-reversed .subNav a:hover {
 	background-color: #888;
 	color: #000;
 }
 .theme-reversed .overlay {
 	background-color: #4E1C07;
 	box-shadow: none;
 	color: #000;
 }

 /* __________ Jelly Bean __________ */

 .theme-jellyBean .scalablePrintArea{
 	color: #56A0A5;
	font-family: "Comic Sans MS", "Marker Felt", cursive, sans-serif;
 }
 .theme-jellyBean .scalablePrintArea hgroup {
 	color: #FF9417;
 	text-align: center;
 }
 .theme-jellyBean .scalablePrintArea h1 {
 	color: #D20770;
	font-family: 'Peralta',cursive, sans-serif;
 	font-size: 2em;
	text-shadow: 0.03125em 0.0625em 0 #FFFFFF, 0.09375em 0.125em 0 #F2E660;
 }
 .theme-jellyBean .scalablePrintArea h2 {
 	font-size: 1.1em;
 }
 .theme-jellyBean pre {
 	color: inherit;
 }
 .theme-jellyBean .ugsChords code {
 	color: #333;
 }
 .theme-jellyBean .ugsChords code em {
 	color: #D20070;
 }
 .theme-jellyBean .ugsChorus {
 	border-left-color: #F2E660;
 	border-radius: 5px 0 0 5px;
 }
 .theme-jellyBean .scalablePrintArea h5, .theme-jellyBean .scalablePrintArea h6 {
 	border-left-color: #F2E660;
	color: #9C55ED;
 	font-family: inherit;
 	letter-spacing: 0.045em;
 }

 /* __________ Western __________ */

.theme-western .scalablePrintArea{
	color: #88410A;
}
.theme-western .scalablePrintArea hgroup{
	color: #88410A;
	font-family: 'Smokum',Arial, sans-serif;
	text-align: center;
}
.theme-western .scalablePrintArea h1 {
	color: #472B07;
	font-family: inherit;
	font-size: 3.3em;
	text-shadow: 0.011em 0.037em 0 #FFFFFF, 0.055em 0.07em 0 #E5DCC0;
}
.theme-western .scalablePrintArea h2{
	font-size: 1.7em;
}
.theme-western .ugsChorus {
	border-left-color: #BEC481;
	border-radius: 5px 0 0 5px;
}
.theme-western .scalablePrintArea h5, .theme-western .scalablePrintArea h6 {
	border-left-color: #BED379;
	color: #92A88C;
	font-family: 'Smokum',Arial, sans-serif;
	font-size: 1.4em;
	font-style: normal;
	padding: 0;
	text-indent: 1em;
}
.theme-western .ugs-source-wrap pre {
	color: inherit;
}

/* __________ Pumpkin (Halloween 1) __________ */

.theme-pumpkin .scalablePrintArea {
	color: #68391D;
}
.theme-pumpkin .ugs-source-wrap pre {
	color: inherit;
}
.theme-pumpkin .scalablePrintArea hgroup{
	color: #B14623;
	text-align: center;
}
.theme-pumpkin .scalablePrintArea h1 {
	color: #D3770E;
	font-family: 'Ranchers',Arial,sans-serif;
	font-size: 3.2em;
	line-height: 1.1;
	text-shadow: 0.064em 0.044em 0 #EDF8CE, -0.037em 0.044em 0 #EDF8CE, -0.074em .094em 0 #BED379, 0.074em .094em 0 #BED379;
}
.theme-pumpkin .scalablePrintArea h2{
	font-family: 'Cherry Cream Soda',cursive, sans-serif;
	font-size: 1.1em;
}
.theme-pumpkin .ugsChorus {
	border-left-color: #A0B74E;
	border-radius: 5px 0 0 5px;
}
.theme-pumpkin .ugsChords code em {
	color: #FE9600;
}
.theme-pumpkin .scalablePrintArea h5, .theme-pumpkin .scalablePrintArea h6 {
	border-left-color: #BED379;
	color: #FFC501;
	font-family: 'Cherry Cream Soda',cursive, sans-serif;
	font-size: 1.4em;
	font-style: normal;
	padding: 0;
	text-indent: 1em;
}

/* __________ Zombie (Halloween II) __________ */

.theme-zombie .scalablePrintArea {
	color: #798666;
}
.theme-zombie .ugs-source-wrap pre {
	color: inherit;
}
.theme-zombie .scalablePrintArea hgroup{
	color: #902374;
	text-align: center;
}
.theme-zombie .scalablePrintArea h1 {
	color: #BED63A;
	font-family: 'Creepster',cursive, sans-serif;
	font-size: 3.2em;
	line-height: 1.1;
	text-shadow: 0.002em 0.002em 0em #364000, 0.044em 0.044em 0 #9EB036, -0.042em -0.014em 0 #8F2472, 0.087em 0.074em 0 #8F2472, -0.074em 0.094em 0 #CA4F04, 0.074em 0.174em 0 #CA4F04;
}
.theme-zombie .scalablePrintArea h2 {
	font-family: 'Cherry Cream Soda',cursive, sans-serif;
	font-size: 1.1em;
	text-shadow: 0.12em 0.13em 0 #DBDAE8;
}
.theme-zombie .ugsChorus {
	border-left-color: #CDC693;
	border-radius: 6px 0 0 6px;
}
.theme-zombie .ugsChords code em {
	color: #DD1A52;
}
.theme-zombie .scalablePrintArea h5, .theme-zombie .scalablePrintArea h6 {
	border-left-color: #E4DCA4;
	color: #798666;
	font-family: 'Peralta',cursive, sans-serif;
	font-size: 1.4em;
	font-style: normal;
	padding: 0;
	text-indent: 1em;
	text-shadow: 0.03em 0.07em 0 #BED63A;
}

/* __________ Frosty __________ */

.theme-frosty .scalablePrintArea {
	color: #154286;
}
.theme-frosty .ugs-source-wrap pre {
	color: inherit;
}
.theme-frosty .scalablePrintArea hgroup{
	color: #6A97DB;
	text-align: center;
}
.theme-frosty .scalablePrintArea h1 {
    color: #D5E2F5;
	font-family: 'Cherry Cream Soda',cursive, sans-serif;
    font-size: 2.18em;
    letter-spacing: 0.05em;
    line-height: 1.1;
    text-shadow: -0.064em -0.034em 0 #FFFFFF, 0.008em 0.008em 0 #A3E3D7, 0.009em -0.009em 0 #A3E3D7, 0.098em 0.115em 0 #154286, 0.064em 0.064em 0 #00183D, -0.114em -0.064em 0 #154286, -0.114em 0 0 #154286, 0 -0.064em 0 #154286, -0.084em 0.064em 0 #154286, 0.064em -0.034em 0 #154286;
}
.theme-frosty .scalablePrintArea h2 {
    font-family: 'Ranchers',Arial,sans-serif;
    font-size: 1.2em;
}
.theme-frosty .ugsChorus {
	border-left-color: #0896FE;
	border-radius: 6px 0 0 6px;
}
.theme-frosty .ugsChords code em {
	color: #0896FE;
}
.theme-frosty .scalablePrintArea h5, .theme-frosty .scalablePrintArea h6 {
    border-left-color: #E3F7F3;
    color: #80B7B1;
	font-family: 'Cherry Cream Soda',cursive, sans-serif;
    font-size: 1.4em;
    font-style: normal;
    padding: 0;
    text-indent: 0.6em;
}

/* __________ Gruss vom Krampus __________ */

/*
http://www.colourlovers.com/palette/1374491/Merry_Christmas%E2%98%83
http://www.colourlovers.com/palette/510474/vintage_Christmas
*/
.theme-krampus .scalablePrintArea {
	color: #929867;
}
.theme-krampus .ugs-source-wrap pre {
	color: inherit;
}
.theme-krampus .scalablePrintArea hgroup{
	color: #929867;
	text-align: center;
}
.theme-krampus .scalablePrintArea h1 {
	color: #A22C27;
	font-family: 'Lobster',cursive, sans-serif;
	font-size: 2.78em;
	line-height: 1.1;
	text-shadow: 0.036em 0.04em 0 #FCECE8, 0.05em 0.08em 0 #4F2621, 0.02em 0.08em 0 #4F2621;
}
.theme-krampus .scalablePrintArea h2 {
	font-family: 'Peralta',cursive, sans-serif;
	font-size: 1.2em;
	text-shadow: 0.03em 0.03em 0 #FFFFFF, 0.08em 0.1em 0 #EBD592;
}
.theme-krampus .ugsChorus {
	border-left-color: #B9C97E;
	border-radius: 6px 0 0 6px;
}
.theme-krampus .ugsChords code em {
	color: #384030;
}
.theme-krampus .scalablePrintArea h5, .theme-krampus .scalablePrintArea h6 {
	border-left-color: #7B8055;
	color: #A32C28;
	font-family: 'Peralta',cursive, sans-serif;
	font-size: 1.2em;
	font-style: normal;
	padding: 0;
	text-indent: 0.6em;
}

/* __________ Notebook __________ */

.theme-notebook .scalablePrintArea {
	color: #443377;
	font-family: 'Architects Daughter',Arial,sans-serif;
}
.theme-notebook .ugs-source-wrap pre {
	color: inherit;
}
.theme-notebook .scalablePrintArea hgroup{
	color: #2E2ECC;
	font-family: inherit;
	text-align: center;
}
.theme-notebook .scalablePrintArea h1 {
	border-color: #E4E4FF;
	border-style: solid;
	border-width: 1px 0;
	color: #252537;
	font-family: 'Permanent Marker',Arial,sans-serif;
	font-size: 2em;
	margin-bottom: 0.2em;
}
.theme-notebook .scalablePrintArea h2 {
	border-bottom: 1px solid #E4E4FF;
	font-size: 1.1em;
}
.theme-notebook .ugsChorus {
	border-left-color: #a4a0b2;
	border-radius: 6px 0 0 6px;
}
.theme-notebook .ugsChords code {
	font-family: inherit;
}
/*
.theme-notebook .ugsChords code em {
	color: #384030;
}
*/
.theme-notebook .scalablePrintArea h5, .theme-notebook .scalablePrintArea h6 {
	border-left-color: #626283;
	color: #2E2ECC;
	font-family: 'Permanent Marker',Arial,sans-serif;
	font-size: 1.3em;
	padding: 0;
	text-indent: 0.7em;
}

/* __________ Just BLack __________ */

.theme-justBlack .ugs-source-wrap h5,
.theme-justBlack .ugs-source-wrap h6,
.theme-justBlack .ugsChords code em {
    color: #000;
}
.theme-justBlack .ugsChords code em{
	font-weight: bold;
}
.theme-justBlack .ugs-source-wrap h5,
.theme-justBlack .ugs-source-wrap h6,
.theme-justBlack .scalablePrintArea hgroup,
.theme-justBlack .scalablePrintArea hgroup *{
	/* first choice: museo slab 500 */
	font-family: 'Bree Serif', Arial, sans-serif;
	font-style: normal;
}
.theme-justBlack .scalablePrintArea hgroup{
	text-align: center;
}
