/*
 *	Document   : ugsEditorPlus.buttons.css
 * Author     : Buz
 * Description: All editor's buttons and button-like links.
 */

/* "base button" is rounded & gray with white text */
.baseBtn {
	background-color: #999;
	border: 1px solid #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	font-size: inherit;
	font-weight: bold;
	padding: 0.2em 1em;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	/* Remove underline in case this is applied to a link */

	text-decoration: none;
}
.baseBtn:hover {
	background-color: #888;
	/* Force colorin case this is applied to a link */

	color: #fff;
}
.blueBtn {
	background-color: #89b9e3;
	background-image: -moz-linear-gradient(top, #89b9e3, #3d6bbb);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #89b9e3), color-stop(1, #3d6bbb));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89b9e3', endColorstr='#3d6bbb');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#89b9e3', EndColorStr='#3d6bbb')";
	border-color: #3765B7;
	text-shadow: #89b9e3 0px 1px 0, #3765b7 0 -1px 0;
}
.blueBtn:hover {
	background-color: #4c85e8;
	background-image: -moz-linear-gradient(top, #4c85e8, #2f5493);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4c85e8), color-stop(1, #2f5493));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c85e8', endColorstr='#2f5493');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c85e8', EndColorStr='#2f5493')";
	text-shadow: black 0px 1px 0, #3765b7 0 -1px 0;
}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-shadow: #da7c0c 0px 1px 0, #faa51a 0 -1px 0;
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	text-shadow: #f47c20 0px 1px 0, #f88e11 0 -1px 0;
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.btnBar {
	height: 30px;
}
.btnBar .baseBtn {
	float: right;
	font-size: 110%;
	margin-bottom: 5px;
}
/* "Cancel"/"No Thanks" (subtle, alternate) buttons
------------------------------ */
.alternateBtn,
.noThanks {
	color: #3965B0;
	float: right;
	line-height: 33px;
	margin-right: 1.5em;
	text-decoration: none;
}
.alternateBtn:hover,
.noThanks:hover {
	color:#0646AD;
}
.noThanks {
	background-color: #EFD292;
	border-radius: 6px;
	padding: 0 0.4em;
	/* backwards transition support */
	-webkit-transition: background-color 0.4s ease;
	-moz-transition: background-color 0.4s ease;
	-ms-transition: background-color 0.4s ease;
	-o-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}
.noThanks:hover {
	background-color: #F2E2C1;
}
.alternateBtn{

}
