body {
	padding:.1em;
}
/* HEADER
  ------------------------------ */
header hgroup aside{
	display:none;
}
/* Pagebreaks
  ------------------------------ */
.ugsNewPage{
	border-width:0;
	page-break-before:always;
}

